<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>2D Transformation DEMO</title>
</head>
<body>
    <div id="shape2"></div>
    <div id="shape">
        <div class="circle" id="Left_ear"></div>
        <div class="circle" id="right_ear"></div>
        <div class="circle" id="face">
            <div class="rectangle"id="right_eye"></div>
            <div class="rectangle"id="left_eye"></div>
            <div class="triangle"></div>
        </div>
    </div>
    <label for="shapes">Select a shape:</label>
    <select name="shapes" id="shapes" >
        <option disabled selected value> -- select an option -- </option>
      <option value="circle">translation in x direction</option>
      <option value="triangle">translation in y direction</option>
      <option value="rectangle">rotation</option>
      <option value="square">scaling</option>
    </select>
    <label for="trans">Choose the transformation:</label>
    <select name="trans" id="trans" >
        <option disabled selected value> -- select an option -- </option>
      <option value="transX">translation in x direction</option>
      <option value="transY">translation in y direction</option>
      <option value="rotation">rotation</option>
      <option value="scale">scaling</option>
    </select>
    <div id="enterData">
        <label>Enter the value:</label>
        <input type="number" id="valuex">
        <br>
        <label>Enter the value:</label>
        <input type="number" id="valuex">
        <br>
        <button id='apply'>Apply</button>
        <button id='rest'>Rest</button>
        
    </div>
    <canvas id="tutorial" width="150" height="150">canvas</canvas>
    
    
    
    <script src="../static/js/index.js"></script>
</body>
</html>