<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>2D Transformation DEMO</title>
</head>
<body>
    <div class="field" id="field">
        <div id="shape">
            <div class="circle" id="Left_ear"></div>
            <div class="circle" id="right_ear"></div>
            <div class="circle" id="face">
                <div class="rectangle"id="right_eye"></div>
                <div class="rectangle"id="left_eye"></div>
                <div class="triangle"></div>
            </div>
    </div>
    </div>
    <div class="form">
        <label for="shapes">Select a shape:</label>
        <select name="shapes" id="shapes" >
            <option disabled selected value> -- select an option -- </option>
        <option value="circle">circle</option>
        <option value="triangle">triangle</option>
        <option value="rectangle">rectangle</option>
        <option value="mikymouse">Mickey Mouse</option>
        </select>
        <div class="inputs">
            <input class="up" type="number" placeholder="Y">
            <input class="left" type="number" placeholder="X">
            <button class="transformButton">transform</button>
            <input class="rotate" type="number" placeholder="rotate value">
            <button class="rotatingButton">rotate</button>
            <input class="scaleX" type="number" placeholder="scale in X">
            <input class="scaleY" type="number" placeholder="scale in Y">
            <button class="scalingButton">scale</button>
        </div>
    </div>

    
    
    
    <script src="../static/js/index.js"></script>
</body>
</html>